<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
    <stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Acceleo Plug-in Application"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/test_UML_Obeo_19_en/model.uml"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/test_UML_Obeo_19_en/src-gen"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/me.mysoft.acceleo.sample/src/me/mysoft/acceleo/sample/main/Generate.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="me.mysoft.acceleo.sample.main.Generate"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/uml/Dokumenty/fba_lab4/test_UML_Obeo_19_en/model.uml&quot; &quot;/home/uml/Dokumenty/fba_lab4/test_UML_Obeo_19_en/src-gen&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="me.mysoft.acceleo.sample"/>
</launchConfiguration>
