<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/testAcceleo_2019/src/test2Acceleo/main/UmlToCode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test2Acceleo.main.UmlToCode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="testAcceleo_2019"/>
</launchConfiguration>
